<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head"></head>

<body>
<header th:replace="fragments/common::header"></header>


<div class="container-fluid">
    <h2 class="text-center text-white mt-5 display-3">Welcome to Bet Bazaar</h2>
    <h5 class="text-center text-white">Get in the Game - Make that Bet</h5>
</div>

<div>
    <footer th:replace="fragments/common::footer"></footer>
</div>

</body>
</html>
